.navbar {
  min-height: 43px;
  padding: 0 7%;

  background-color: #075cd8;

  display: flex;
  align-items: center;

  gap: 35px;
}

.navbar a {
  color: white;

  text-decoration: none;

  font-weight: bold;
  font-size: 14px;

  transition: 0.2s;
}

.navbar a:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  .navbar {
    overflow-x: auto;

    white-space: nowrap;
  }
}